* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
	
}

html{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: url("https://cslab.kenyon.edu/class/softdev/bastingp/project6/bookshelf.jpg");
	height: 100%;
}

html, body {
	width: 100%;
	margin: 0 auto;
}

body {
	display: flex;
	font-family: Georgia, sans-serif;
	flex-direction: column;
	overflow: scroll;
	background: rgba(50,50,50, 0.7);
	width: 1000px;
/*	height: auto;
	min-height: 1000;*/
	height: 100%;
	word-wrap: break-word;

}

.instructions{
	font-size: 20px;
	align-self: center;
	color: rgb(220,220,220);
	height: 20px;
	margin: 20px 0 20px 0;
}

select {
	font-size: 20px;
}

p#bookDisplay{
	font-size: 25px;
	font-weight:bold;
}

.text_input{
	width: 550px;
	font-size: 20pt;
	height: 38px;
	vertical-align: bottom;
	border-radius: 2px;
	border:0px;
	background-color: rgb(220,220,220);
}

.search {
	margin: 0 auto;

}

.Button{
	width:140px;
  	height:38px;
  	border:0px;
  	outline:none;
  	border-radius: 2px;
  	background: -webkit-linear-gradient(90deg, #ffa221, #ffb651);
  	font-size: 20px;
	color: black;
	vertical-align: bottom;

}

.Button:hover {
	background: -webkit-linear-gradient(90deg, #cc7d00, #9b5f00);
}

.display{
	height: 600px;
	width: 700px;
	margin: 10px 0px 0px 150px;
	word-wrap: break-word;
	background-color: rgba(0,0,0, 0.9);
	overflow-y: scroll;
	color: white;

}

h1 {
	background-size: cover;
	font-size: 50px;
	font-family: 'Helvetica';
	font-weight: thin;
	width: 1000px;
	height: 60px;
	color: rgb(220, 220,220);
	text-align: center;
	padding: 0px 0 0px 0;
	text-shadow: 2px 2px #000000;
}
